<% @page_title = "Invite User" %>

<div class="panel">
  <h3>Invite New User</h3>

  <div class="panel_contents">
    <%= form_for @user, url: send_invitation_admin_users_path, method: :post do |f| %>
      <% if @user.errors.any? %>
        <div class="flash flash_error">
          <% @user.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <fieldset class="inputs">
        <legend><span>User Details</span></legend>
        <ol>
          <li class="string input required">
            <%= f.label :email, "Email Address *" %>
            <%= f.email_field :email, required: true, placeholder: "john.doe@example.com" %>
            <p class="inline-hints">An invitation will be sent to this email address.</p>
          </li>
        </ol>
      </fieldset>

      <fieldset class="actions">
        <%= f.submit "Send Invitation", class: "button" %>
        <span class="or">or</span>
        <%= link_to "Cancel", admin_users_path, class: "button" %>
      </fieldset>
    <% end %>
  </div>
</div>

<div class="panel">
  <h3>How it works</h3>
  <div class="panel_contents">
    <ol style="margin: 1em 0; padding-left: 2em;">
      <li>Enter the user's email address</li>
      <li>System sends an email with activation link</li>
      <li>User clicks the link and sets their password</li>
      <li>Account is ready to use!</li>
    </ol>
    <p style="margin-top: 1em; color: #666;">
      <strong>Note:</strong> Invitations expire after 7 days. You can resend them from the users list.
    </p>
  </div>
</div>
